body {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  background: url('other-background-option-min.png') no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
};

.navbar {
  color: #fff;
};

.image{

}

.car{
    height: 400px;
    width: 50%;
    background-color: powderblue;
}
.space {
  margin: 5em;
}